{{define "head"}}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{.PageTitle}} - Martins Poços</title>
  
  <!-- Bootstrap CSS -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    rel="stylesheet"
  />
  
  <!-- Bootstrap Icons -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
    rel="stylesheet"
  />
  
  <!-- Custom CSS -->
  {{if .CustomCSS}}
  <link rel="stylesheet" href="{{.CustomCSS}}" />
  {{end}}
  
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
{{end}}